/*
Fondo corner gradient animated sacado de MSHR.com
INICIO
*/
@keyframes hero-gradient-animation {
  0% {
    --s-start-0: 5.202913631633715%;
    --s-end-0: 53.01682626841344%;
    --x-0: 1%;
    --y-0: 0%;
    --c-0: hsla(212.3684210526316, 81%, 25%, 0.61);
  }

  100% {
    --s-start-0: 5;
    --s-end-0: 53.00384867488662%;
    --x-0: 1%;
    --y-0: 0%;
    --c-0: hsla(212.3684210526316, 81%, 25%, 0.32);
  }
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5.202913631633715%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 53.01682626841344%;
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 1%;
}

@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(212.3684210526316, 81%, 25%, 0.61);
}
/* FIN DEL FONDO */

body,
header,
footer {
  --x-0: 1%;
  --y-0: 0%;
  --c-0: hsla(212.3684210526316, 81%, 25%, 0.61);
  background-color: hsla(213.17532987953427, 65%, 6%, 1);
  background-image: radial-gradient(
    circle at var(--x-0) var(--y-0),
    var(--c-0) var(--s-start-0),
    transparent var(--s-end-0)
  );
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #a6c4d2;
  color: #090d4f;
  text-align: center;
  padding: 15px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: #090d4f;
  text-decoration: none;
}

nav a:hover {
  text-decoration: overline;
}

section {
  flex: 1;
  padding: 20px;
  text-align: left;
}

footer {
  background-color: #a6c4d2;
  color: #090d4f;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

.Form {
  text-align: center;
}
